﻿@model Telefon_Rehberii.Models.calisan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/calisans/Index.cshtml";
}

<h2>Details</h2>

<div>
    <h4>calisan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yoneticiid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yoneticiid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.departman.departman_adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departman.departman_adi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
